
body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #386172;
    background-color: #A9C8FA;
    display: block;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#page
{
  display: block; 
  height:40px;
  overflow: hidden; 
  width: 670px;
}

.topNaviagationLink
{
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 16px;
    width: 130px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    color: #386172;
    font-family: "Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}


.topNaviagationLink a
{
text-decoration:none;
color:#386172;
}

.contentBox
{
    min-width: 900px;
    max-width: 90%;
    min-height: 600px;
    height: 100%;
    background-color: #FFFFFF;
    display: block;
}

.contentBox .innerBox
{
    margin: 0 auto;
    float:left;
    width: 100%;
}

#left-pane{
    padding: 5px;
    width: 200px;
    float: left;
    margin-left: -100%;
}

#room-container{
    margin-top: 100px;
    margin-left: 220px;
    margin-right: 170px;
    min-width: 400px;
    min-height: 400px;
    background-color: #386172;
}

#right-pane{
    padding-top: 5px;
    width: 150px;
    margin-left: -150px;
    text-align: right;
    float: left;
}

#right-pane #login-form{
    width: 150px;
    text-align: right;
}

#login-form input{
    width: 120px;
}

#right-pane #username{

}
#right-pane #password{

}
#right-pane #submit-login{
    width: 125px;
    text-align: center;
}
#right-pane #google-login{
    width: 125px;
}

#left-pane input{
    width: 99%;
    margin: 0 auto;
    text-align :center;
}

#create-public-chat-subject{
    margin-top: 3px;
    margin-bottom: 5px;
}

#left-pane hr{
    margin: 10px 2px;
}

#create-public-chat-form {
    margin-top: 10px;
}



.topNaviagationLink a:hover
{
text-align:center;
border-bottom:none;
color:#386172;
display: block;
width:121px;
height: 35px;
line-height: 35px;
background-image:url(/static/imgs/tab.png);

}

#headerTitle
{
position:relative;
top:30px;
left:40px;
font-size:25px;
color:#FFFFFF;
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

#headerSubtext
{
position:relative;
top:30px;
left:50px;
font-size:14px;
color:#A9C8FA;
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}



.contentTitle
{
font-size:19px;
margin-bottom:0px;
padding-top:18px;
margin-left:15px;
margin-top:15px;
}

.contentText
{
font-size:13px;
line-height:24px;
margin-left:13px;
margin-right:13px;
}

#ad-container {
    margin-top: 50px;
    width: 130px%;
    min-height: 300px;
    background-color: lightgreen;
}

#footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    background: url(imgs/footer.png) repeat-x;
    text-align: center;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: #386172;
    padding-top: 5px;
    margin-top: 30px;
}

#footer a
{
text-decoration:none;
font-size:9px;
color:#386172;
}

html, body {
text-align: center;
}
p {text-align: left;}
