
body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #386172;
    background-color: #A9C8FA;
    display: block;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#page
{
  display: block; 
  height:40px;
  overflow: hidden; 
  width: 670px;
}

.topNaviagationLink
{
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 16px;
    width: 130px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    color: #386172;
    font-family: "Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}


.topNaviagationLink a
{
text-decoration:none;
color:#386172;
}

.contentBox
{
    min-width: 900px;
    max-width: 90%;
    min-height: 600px;
    height: 100%;
    background-color: #FFFFFF;
    display: block;
}

.contentBox .innerBox
{
    margin: 0 auto;
    float:left;
    width: 100%;
    text-align: center;
}

#left-pane{
    padding: 11px;
    width: 210px;
    float: left;
    margin-left: -100%;
}

#left-pane input{
    text-align: center;
}

#inner-header{
    text-align: center;
    margin-left: 235px;
    margin-right: 170px;
    min-width: 400px;
}

#tab-container{
    background: #FFFFFF;
    text-align: center;
    margin-top: 30px;
    margin-left: 235px;
    margin-right: 170px;
    min-width: 400px;
    min-height: 400px;
}

#tab-selector .inactive {
    background-color: #b3b3b3;
}

#tab-selector .active {
    background-color: #A9C8FA;
}

#tab-selector li {
    display: inline-block;
    width: 100px;
}

#tab-selector li:hover {
    display: inline-block;
    width: 100px;
    background: #ccaaaa;
}



#tab-list > div {
    width: 100%;
    min-height: 400px;
    background-color: #A9C8FA;
    display: none;
}

#right-pane{
    padding-top: 13px;
    width: 140px;
    margin-left: -150px;
    text-align: center;
    float: left;
}

#right-pane #login-form{
    width: 100%;
    text-align: center;
    margin: 0px;
    padding-right: 2px;
}

#login-form input{
    width: 90%;
}

#right-pane-account-holder{
    width: 120px;
    text-align: center;
    margin: 0px 14px;
}

#sign-out-button {
    width:120px;
    text-align: center;
}

#right-pane #username{

}
#right-pane #password{

}
#right-pane #submit-login{
    width: 100%;
    text-align: center;
}
#right-pane #google-login{
    margin-top: 8px;
}

#left-pane input{
    width: 100%;
}

#create-public-chat-subject{
    width: 93%;
    margin: 0px 0px 8px 0px;
}

#left-pane hr{
    margin: 10px 2px;
}

#create-public-chat-form {
    margin-top: 10px;
}

#left-pane p {
    margin: 3px;
}

.topNaviagationLink a:hover
{
text-align:center;
border-bottom:none;
color:#386172;
display: block;
width:121px;
height: 35px;
line-height: 35px;
background-image:url(/static/imgs/tab.png);

}

#headerTitle
{
position:relative;
top:30px;
left:40px;
font-size:25px;
color:#FFFFFF;
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

#headerSubtext
{
position:relative;
top:30px;
left:50px;
font-size:14px;
color:#A9C8FA;
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}



.contentTitle
{
font-size:19px;
margin-bottom:0px;
padding-top:18px;
margin-left:15px;
margin-top:15px;
}

.contentText
{
font-size:13px;
line-height:24px;
margin-left:13px;
margin-right:13px;
}

#ad-container {
    margin-top: 10px;
    width: 120px;

}

#footer {
    width: 100%;
    text-align: center;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: #386172;
    bottom: 0px;
    position: absolute;
}

#footer a
{
text-decoration:none;
font-size:9px;
color:#386172;
}

html, body {
text-align: center;
}
p {text-align: left;}

.tabContainer{
    /* The UL */
    float:left;
    padding-left:13px;
}

#contentHolder{
    background-color:#FFFFFF;
    border:2px solid #FFFFFF;
    height:400px;
    margin:2px;

    color:#444444;
    padding:15px;
    padding-top: 15;
}

#tabContent{
    background-color:#333;
    border:1px solid #444;
    margin-top:-15px;
    width:100%;
}

#tabContent, .tabContainer li a,#contentHolder{
    -webkit-box-shadow:0 0 2px black;
    -moz-box-shadow:0 0 2px black;
    box-shadow:0 0 2px black;
}

.tabContainer li{
    /* This will arrange the LI-s next to each other */
    display:inline;
}

.tabContainer li a,.tabContainer li a:visited{
    /* Styling the hyperlinks of the tabs as colorful buttons */

    float:left;
    font-size:18px;

    /* display:block allows for additinal CSS rules to take effect, such as paddings: */
    display:block;

    padding:4px 16px 1px;
    margin:4px 5px;
    height:20px;

    /* Giving positioning */
    position:relative;

    /* CSS3 text-shadow */
    text-shadow:1px 1px 1px #CCCCCC;
}

#overLine{
    /* The line above the active button. */
    position:absolute;

    height:3px;
    background-color:#20b2aa;
    width:90px;

    float:left;
    left:1px;
    top:-5px;
    overflow:hidden;
}

#main{
    margin:0 auto;
    position:relative;
    width:700px;
}

ul .left{
    /* The left span in the hyperlink */

    height:37px;
    left:0;
    position:absolute;
    top:0;
    width:10px;
}

ul .right{
    /* The right span in the hyperlink */

    height:37px;
    right:0;
    position:absolute;
    top:0;
    width:10px;
}

/* Styling the colors individually: */

ul a.blue{	background:url(static/img/blue_mid.png) repeat-x top center;	color:#03426e;}
ul a.blue span.left{ background:url(static/img/blue_left.png) no-repeat left top;}
ul a.blue span.right{ background:url(static/img/blue_right.png) no-repeat right top;}

/* .. Analogical styles for the red, blue and orange color .. */

/* The hover states: */
ul a:hover{	background-position:bottom center; text-decoration:none;}
ul a:hover span.left{ background-position:left bottom;}
ul a:hover span.right{ background-position:right bottom;}

.preloader{
    display:block;
    margin:120px auto;
}
