#chatContent{
    background-color: #E9FFFF;
    font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
    height: 100%;
}

#chat {
    width: 80%;
    height: 99%;
    display: inline;
    float: left;
    background-color: #FFFFFF;
    border: 2px solid white;
    border-right-style: outset;
}

#chatText {
    overflow: auto;
    position: relative;
    height: 73%;
    float:none;
    width: 100%;
}

#chatInput {
    text-align: center;
    width: 100%;

}

#chatInput input{

}

#chatSendText {
    margin:1px;
    clear:right;
    left:0px;
    width: 96%;
    right:160px;
    height: 38px;
    min-width: 300px;
    font-size: 18px;
    padding-top: 9px;
    padding-left: 7px;
    outline-style: none;
    font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
    color: #5a5a5a;
    -webkit-box-shadow: inset 2px 2px 1px #888888;
    box-shadow: inset 0px 0px 2px 2px #888888;
}

#chatSendButton, #chatShareButton{
    height: 51px;
    font-size: 18px;
    font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
    -webkit-box-shadow: inset 2px 2px 2px #888888;
    box-shadow: inset 0px 0px 2px 2px #888888;
    width: 49%;
}

#chatSendButton:active, #chatSendButton.pressed, #chatShareButton:active, #chatShareButton.pressed{
    -webkit-box-shadow: inset 2px 2px 3px #888888;
    box-shadow: inset 0px 0px 2px 3px #888888;
}

#chatSendButton:hover, #chatShareButton:hover {
    -webkit-box-shadow: inset 2px 2px 2px #040404;
    box-shadow: inset 0px 0px 2px 2px #040404;
}

.chatMessage {
    background-color: #C9C9C9;
    color: black;
    overflow: auto;
    margin-left: 2px;
}

.myMessage {
    background-color: #F4F4F4;
    color: black;
    display: block;
    margin-left: 2px;
}

#connectedUsers{
    margin-top: 12px;
    margin-left: 17px;
    overflow: auto;
    position: relative;
    width: 15%;
    list-style-type: none;
    float: left;
    border-style: outset;
}

#connectedUsersList{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 0px;
}

#connectedUsersTitle{
    font-size: 10px;
}
.messageDate, .messageUsername{
    display: inline;
    font-size: 10px;
}

.messageContent{
    font-style: oblique;
    font-size: 14px;

}