<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>


    <div id="category-list-holder">

    <div id="category-button-controls-container">
        <input id="colapse-all-btn" type="button" class="btn" value="collapse all"/>
        <input id="expand-all-btn" type="button" class="btn" value="expand all"/>
    </div>

    <ul class="categories-list">


        <li class="main-category" >Art &amp; Culture</li>
        <ul class="subcategory-list list-inactive">
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
        </ul>
        <li class="main-category" >Business</li>
        <ul class="subcategory-list list-inactive">
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
        </ul>
        <li class="main-category" > Entertainment</li>
        <ul class="subcategory-list list-inactive">
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
        </ul>
        <li class="main-category" > Fashion &amp; Beauty</li>
        <ul class="subcategory-list list-inactive">
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
        </ul>
        <li class="main-category" > Food &amp; Drink</li>
        <ul class="subcategory-list list-inactive">
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
        </ul>
        <li class="main-category" > Hobbies &amp; Interest</li>
        <ul class="subcategory-list list-inactive">
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
        </ul>
        <li class="main-category" > Home &amp; Garden</li>
        <ul class="subcategory-list list-inactive">
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
        </ul>
        <li class="main-category" > Lifestyle</li>
        <ul class="subcategory-list list-inactive">
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
        </ul>
        <li class="main-category" > Politics</li>
        <ul class="subcategory-list list-inactive">
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
        </ul>
        <li class="main-category" > Science</li>
        <ul class="subcategory-list list-inactive">
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
        </ul>
        <li class="main-category" > Society</li>
        <ul class="subcategory-list list-inactive">
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
        </ul>
        <li class="main-category" > Sport</li>
        <ul class="subcategory-list list-inactive">
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
        </ul>
        <li class="main-category" > Technology</li>
        <ul class="subcategory-list list-inactive">
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
        </ul>
        <li class="main-category" > Travel</li>
        <ul class="subcategory-list list-inactive">
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
        </ul>
        <li class="main-category" > Wellbeing</li>
        <ul class="subcategory-list list-inactive">
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
        </ul>
        <li class="main-category" > Work</li>
        <ul class="subcategory-list list-inactive">
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">Computer Science</a></li>
            <li class="room-list-element"><a href="/room/compsci">asdf</a></li>
            <li class="room-list-element"><a href="/room/compsci">Zxcas</a></li>
        </ul>
    </ul>

    </div>

<script>

    $(".main-category").css("list-style-image", "url('/static/imgs/plus.gif')");

    $('.main-category').click(function() {
        var subList = $(this).next('ul');



        if ($(subList).hasClass("list-inactive")){
            subList.removeClass("list-inactive");
            subList.addClass("list-active");
            $(this).css("list-style-image", "url('/static/imgs/minus.gif')");

        }else{
            subList.removeClass("list-active");
            subList.addClass("list-inactive");
            $(this).css("list-style-image", "url('/static/imgs/plus.gif')");
        }
    });

    $("#expand-all-btn").click(function(){
        $("#category-filter").val("");
        $('.main-category').next('ul').removeClass("list-inactive");
        $('.main-category').next('ul').addClass("list-active");
        $('.room-list-element').css("display", "");
    });

    $("#colapse-all-btn").click(function(){
        $("#category-filter").val("");
        $('.main-category').next('ul').removeClass("list-active");
        $('.main-category').next('ul').addClass("list-inactive");
        $('.room-list-element').css("display", "");
    });

</script>

</body>
</html>