

    <script type="text/javascript" src="{{ STATIC_URL }}js/room.js"></script>

    <script type="text/javascript">
        $("#chatShareButton").click(function(e){
            alert("upload should come here");
            uploadAndShare();
        });
    </script>

    <div id="chatContent">
        <div id="chat">
            <div id="chatText">

            </div>
            <div id="chatInput">
                {% csrf_token %}


                <input id="chatSendText" name="chatSendText" type="text" >
                <input class="btn" id="chatSendButton" type="button" value="Send">
                <input class="btn" id="chatShareButton" type="button" value="Share">


            </div>
        </div>
        <div id="connectedUsers">

            <div id="roomName">
                Room {{ room.slug }}
            </div>

            <p id="connectedUsersTitle">Connected users:</p>
            <ol id="connectedUsersList">
            </ol>
        </div>
    </div>