

    <script type="text/javascript" src="{{ STATIC_URL }}/js/room.js"></script>

    <div id="chatContent">
        <div id="chat">
            <div id="chatText"></div>
            <div id="chatInput">
                {% csrf_token %}
                <input id="chatSendText" name="chatSendText" type="text" >
                <input id="chatSendButton" type="button" value="Send">
            </div>
        </div>
        <div id="connectedUsers">
            <p id="connectedUsersTitle">Connected users</p>
            <ol id="connectedUsersList">
            </ol>
        </div>
    </div>