<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}anoceanofsky.css" />
    <title>Hello</title>
</head>

<body>
<div id="page">
    <div class="topNaviagationLink"><a href="/anoceanofsky/index.html">Home</a></div>
    <div class="topNaviagationLink"><a href="/anoceanofsky/about.html">About</a></div>
    <div class="topNaviagationLink"><a href="/BeserkerChat/register/">Register Here</a></div>
    <div class="topNaviagationLink"><a href="/anoceanofsky/index.html">Services</a></div>
    <div class="topNaviagationLink"><a href="/anoceanofsky/contact.html">Contact</a></div>
</div>
<div id="mainPicture">
    <div class="picture">
        <div id="headerTitle">Test Website</div>
    </div>
</div>
<div class="contentBox">
    <div class="innerBox">
        <div class="contentTitle">Post Test</div><br>
        <div class="contentText"><p> <form name="input" action="html_form_action.asp" method="POST">
            Enter Post Value: <input type="text" name="post">
            <input type="submit" value="Submit">
        </form> </div>

        <div class="contentBox">
            <div class="innerBox">
                <div class="contentTitle">Non-existant Link</div><br>
                <div class="contentText"><p> <a href="idontexist.html"> Click Here </a></p></div>



                <div class="contentTitle">Can you break me!?</div>
                <div class="contentText"><p>If successful please let Hector Know so he can fix it!</p><br />
                </div>

            </div>
            <div id="footer"><a href="mailto:hectorgrebbell@googlemail.com"> hectorgrebbell@googlemail.com </a> Hector Grebbell</div></div>
</body>
</html>
